/* autoprefixer grid: autoplace */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.item {
  .title {
    text-align: center;
  }
}

.timeline {
  list-style: none;
}
